[submodule "content/themes/compose"]
	path = content/themes/compose
	url = https://github.com/onweru/compose/
[submodule "content/themes/doks"]
	path = content/themes/doks
	url = git@github.com:thuliteio/doks.git
